/*MENU FOR TOP*/
#nav_menu ul { list-style-type: none; }
#nav_menu ul li { float: left; }
#nav_menu ul li a {
text-align: center;
display: block;
width: 175px;
padding: 1em 0;
text-decoration: none;
background-color: rgb(255, 123, 0);
color: white;
font-weight: bold;
border-right: 2px solid white; }
#nav_menu ul li a.lastitem { border-right: none; }
#nav_menu ul li a.current { color: yellow; }

article {
    clear:both;
}

aside ol {
    list-style-type: upper-roman;
  }

aside ul {
    list-style-type: square;
  }



/*slideshow stuff*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
  }
  
  .slideshow {
    position: relative;
    max-width: 200px;
    margin: auto;
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    width: 50%;
    height: 50%;
    opacity: 0;
    animation: fade 45s infinite;
  }
  
  .slide img {
    width: 50%;
    height: 50%;
    object-fit: cover;
  }
  
  /* Set delay for each slide */
  .slide:nth-child(1) {
    animation-delay: 0s;
  }
  .slide:nth-child(2) {
    animation-delay: 15s;
  }
  .slide:nth-child(3) {
    animation-delay: 30s;
  }
  
  /* Fade animation */
  @keyframes fade {
    0%   { opacity: 0; }
    10%  { opacity: 1; }
    33.33%  { opacity: 1; }
    43.33%  { opacity: 0; }
    100% { opacity: 0; }
  }
  /*END OF SLIDESHOW*/


  /*footer copyright*/
  footer p.copyright {
    text-align: center;
    font-size: 80%; 
 }
 /*END OF COPYRIGHT*/