html, body {
    margin: 1em;
    height: 100%;
    font-size: 100%;
}

* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/*----------------- TABLE 1 ------------------*/
table.first {
    border-collapse: separate;
    border: 2px solid black;
}
table.first caption {
    font-weight: bold;
}
table.first th, table.first td {
    border: 2px solid blue;
}
table.first tr:nth-child(odd) {
    background-color: lightblue;
}
table.first th {
    background-color: skyblue;
}

/*----------------- TABLE 2 ------------------*/
table.second {
    border-collapse: collapse;
    border: 2px solid purple;
    caption-side: bottom;
}
table.second caption {
    font-weight: bold;
}
table.second th {
    background-color: salmon;
}
table.second th, table.second td {
    padding: 0.7em;
    vertical-align: middle;
    border: 2px solid purple;
}

/*----------------- TABLE 3 ------------------*/
table.third {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 3px solid orangered;
}
table.third th, table.third td {
    padding: 0.7em;
    border: none;
    vertical-align: top;
}
table.third thead tr:first-child {
    background-color: lightgreen;
    font-weight: bold;
    text-align: center;
    border-top: 2px solid orangered;
    border-left: 2px solid orangered;
    border-right: 2px solid orangered;
}
table.third thead tr:nth-child(2) {
    background-color: mediumseagreen;
    font-weight: bold;
    color: black;
    border-left: 2px solid orangered;
    border-right: 2px solid orangered;
}
table.third tbody tr td {
    border-left: 2px solid orangered;
    border-right: 2px solid orangered;
}
table.third tbody tr:last-child td {
    border-bottom: none;
}

/*----------------- MEDIA QUERY ------------------*/
@media only screen and (max-width: 425px) {
    th, td {
        display: block;
    }
    thead, td.number {
        display: none;
        padding: 0;
    }
}